*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}
body{
    background-color: rgb(255, 255, 255);
}

.botao {
    display: block;
    padding: 15px;
    background: blue;
    color: white;
    text-decoration: none;
    margin: 20px auto 0;
    width: fit-content;
}
